{
  "extends": [
    "@thoughtbot/eslint-config",
    "@thoughtbot/eslint-config/typescript",
    "plugin:astro/recommended",
    "plugin:astro/jsx-a11y-recommended",
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".ts", ".tsx", ".astro"] },
    ],
  },
  "overrides": [
    {
      // Define the configuration for `.astro` file.
      "files": ["*.astro"],
      // Allows Astro components to be parsed.
      "parser": "astro-eslint-parser",
      // Parse the script in `.astro` as TypeScript by adding the following configuration.
      // It's the setting you need when using TypeScript.
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".astro"],
      },
      "processor": "astro/client-side-ts",
      "rules": {
        // override/add rules settings here, such as:
        // "astro/no-set-html-directive": "error"
        "react/no-unknown-property": ["error", { "ignore": ["class"] }],
      },
    },
  ],
  "ignorePatterns": [
    "/.cache",
    "/.astro",
    "/.vercel",
    "/node_modules",
    "/dist",
    "/public",
    "src/env.d.ts",
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
  },
}
