---
const currentYear = new Date().getFullYear();
---

<html lang="en">
  <head>
    <!-- Metadata -->
    <title>ClimbWell</title>
    <meta property="og:title" content="ClimbWell" />
    <meta property="twitter:title" content="ClimbWell" />
    <meta
      name="description"
      property="og:description"
      content={`Coming soon in ${currentYear}`}
    />
    <meta
      property="twitter:description"
      content={`Coming soon in ${currentYear}`}
    />
    <meta property="og:site_name" content="ClimbWell" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_GB" />

    <!-- Favicon -->
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧗‍♂️</text></svg>"
    />

    <!-- Browser settings -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Inter font -->
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  </head>
  <body>
    <main class="flex items-center justify-center min-h-screen p-8">
      <section
        class="text-center flex flex-col gap-4 border-8 border-black p-8"
      >
        <!-- <div class="text-4xl"></div> -->
        <h1 class="text-7xl font-black tracking-wider">ClimbWell</h1>
        <h2 class="text-lg font-semibold">Coming soon in {currentYear}</h2>
      </section>
    </main>
  </body>
</html>
